<div class="container">

  <div>

    <form #prefForm="ngForm" (ngSubmit)="setPrefrences(prefForm.value)">
      <p>
        <label>
          Enter bus stop number or name
          <input type="text" name="stop" ngModel><!-- E1133 -->
        </label>
      </p>
      <p>
        <label>
          Name
          <input type="text" name="name" ngModel>
        </label>
      </p>
      <p>
        <label>
          Address
          <input type="text" name="address" ngModel>
        </label>
      </p>
      <p>
        <label>
          Phone
          <input type="text" name="phone" ngModel>
        </label>
      </p>
      <button type="submit">Set favourites</button>
      <button onclick="localStorage.clear();">Remove favourites</button>
    </form>



  </div>
  <div>

    <iframe width="600" height="450" [src]="url | safePipe"></iframe>

  </div>


</div>


<!--<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBMRAqbQDzkJxe9QAEA9KRiIEiCnoIZtkY&q=Mannerheimintie" allowfullscreen>
</iframe>-->
